# ===================================================
# Rayls RWA Marketplace — Environment Variables
# ===================================================

# Rayls Network
REACT_APP_CHAIN_ID=7295799
REACT_APP_RPC_URL=https://testnet-rpc.rayls.com
REACT_APP_EXPLORER=https://testnet-explorer.rayls.com

# Smart Contracts (Rayls Testnet)
REACT_APP_PRIVACY_NODE_RWA=0x8A7747B5F461cfD18a494E795aEC8e341f4aba51
REACT_APP_L1_MARKETPLACE=0x292Af5AC8CaC9F6E3842602D1a192f8C03953edf

# WalletConnect
REACT_APP_WALLETCONNECT_PROJECT_ID=your_project_id_here
